body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../img/header.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.hero-text {
  text-align: left;
  position: absolute;
  top: 30%;
  left: 10%;
  right: 10%;
  color: white;
}

.hero-text h1 {
	font-family: Helvetica;
	font-size:64px;
	font-weight: 900;
	letter-spacing: 1px;
}

.hero-text h2 {
	font-family: Helvetica;
	font-size:16px;
	font-weight: 200;
	letter-spacing: .5px;
  line-height: 1.5;
}

button {
	padding: 15px;
  letter-spacing: 1px;
}

button a{
  letter-spacing: .5px;
  font-weight: 900px;
  font-size: 25px;
}

.primary-btn {
	border: 1px white solid;
	background-color: rgba(0, 0, 0, 0);
	color: white;
  text-transform: uppercase;

}

.secondary-btn {
	background-color: white;
	color: black;
  text-transform: uppercase;

}


.team{
  margin:40px;
}

.team-member {
  margin: 15px 0;
  padding: 0;
}

.team-member figure {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.team-member figure img {
  min-width: 100%;
}

.team-member figcaption p {
  font-size: 16px;
}

.team-member figcaption ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.team-member figcaption ul {
  visibility: visible;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.team-member figcaption ul li {
  display: inline-block;
  padding: 10px;
}

.team-member h4 {
  margin: 10px 0 0;
  padding: 0;
}

.team-member figcaption {
  padding: 50px;
  color: transparent;
  background-color: transparent;
  position: absolute;
  z-index: 996;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.team-member figure:hover figcaption {
  visibility: visible;
  color: #fff;
  background: rgba(230, 78, 62, 0.9);
  /* Primary color, can be changed via colors.css */
  
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.team-member figure:hover figcaption ul li a:hover {
  color: rgba(49, 49, 49, .97);
}


footer {
  color: #666;
  background: #222;
  posittion: fixed;
  bottom: 0px;
  padding: 17px 0 18px 0;
  border-top: 1px solid #000;
  text-align: center;
  width: 100%;
  bottom: 0px;
}
footer a {
  color: #999;
}
footer a:hover {
  color: #efefef;
}

/* responsive footer fix by Aalaap Ghag 
This is where the magic happens */
@media (max-width: 767px) {

  footer  {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container {
  max-width: 940px;
}

.icon {
  height: 40px;
  width: 40px;
}